[Desktop Entry]
Name=Tuwaiq Light
Name[ar]=طويق فاتح
Comment=TuwaiqOS light desktop identity
Comment[ar]=هوية سطح مكتب طويق الفاتحة
X-KDE-PluginInfo-Name=org.tuwaiqos.light.desktop
X-KDE-PluginInfo-Author=TuwaiqOS
X-KDE-PluginInfo-License=See branding LICENSE
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-Website=https://github.com/italamrii/TuwaiqOS
