[General]
Name=TuwaiqOS
Name[ar]=طويق أو إس
Comment=TuwaiqOS desktop identity (D0 foundation)
Comment[ar]=هوية سطح مكتب طويق (الأساس)
X-KDE-PluginInfo-Name=tuwaiqos
X-KDE-PluginInfo-Author=TuwaiqOS
X-KDE-PluginInfo-License=See branding LICENSE
X-KDE-PluginInfo-EnabledByDefault=true
