[Desktop Entry]
Name=TuwaiqOS
Name[ar]=طويق أو إس
X-KDE-PluginInfo-Name=TuwaiqOS
X-KDE-PluginInfo-Author=TuwaiqOS
X-KDE-PluginInfo-License=See product/branding/LICENSE
